.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.room-scrool{
    overflow-x:auto;
    /* overflow-y:auto;   */
    height: 500px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #93BFE5;
  }
